<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main class="container">
        <div class="book-details">
            <div class="book-image">
                <%- include('./components/loading.ejs') %>
                <img src="<%= `${origin}/api/image/${thumbnailId}` %>" alt="<%= title %>" id="book-cover" style="display: none;" onload="this.style.display='block'; document.getElementById('loading').style.display='none';">
            </div>

            <div class="book-info">
                <h2 class="book-title"><%= title %></h2>
                <h3 class="book-subtitle"><%= subtitle %></h3>
                <div class="book-meta">
                    <p><strong>Author(s):</strong> <span id="authors"><%= authors.join(', ') %></span></p>
                    <p><strong>Publisher:</strong> <span id="publisher"><%= publisher %></span></p>
                    <p><strong>Language:</strong> <span id="language"><%= language %></span></p>
                    <p><strong>Published Date:</strong> <span id="published-date"><%= publishedDate %></span></p>
                    <p><strong>Page Count:</strong> <span id="page-count"><%= pageCount %></span></p>
                </div>
                <div class="book-description">
                    <h3>Description</h3>
                    <p id="description">
                        <%= description %>
                    </p>
                </div>
                <div class="book-categories">
                    <% categories.forEach(category => { %>
                    <span class="category-tag"><%= category %></span>
                    <% }) %>
                </div>
                <div class="book-actions">
                    <button class="add-to-cart-button" id="">Add to cart <i class="fa-solid fa-cart-shopping"></i></button>
                    <button class="price-button" id="price-button">Buy Now: $12.99</button>
                </div>
            </div>
        </div>

        <section class="related-books" id="related-books">
            <h2>You May Also Like</h2>
            <div class="related-books-grid">
            </div>
        </section>
    </main>


    <%- include('./partials/footer.ejs') %>
    <script src="/js/related-books.js">

    </script>
</body>

</html>