<!DOCTYPE html>
<!-- saved from url=(0035)http://localhost:4000/book/1766b622 -->
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/book.css">

</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section id="bookDetails">
            <main>
                <div class="book-img"><img src="<%= `/api/image/${book.thumbnailId}` %>" alt="Educated"></div>
                <div class="book-info">
                    <h1><%= book.title %></h1>
                    <h2><%= book.authors.join(', ') %></h2>
                    <h2><%= book.price %>$<span>200$</span></h2>
                    <div class="description"><%= book.description %></div>
                    <div class="btn-book"><button>Add to cart</button><button>Buy Now</button></div>
                </div>
            </main>
            <div class="detail">
                <h1>Author <br> Tara Westover</h1>
                <h1>Publisher <br> Random House</h1>
                <h1>Published Date <br> 2018-02-20</h1>
                <h1>Categories <br> non-fiction</h1>
                <h1>Language <br> en</h1>
                <h1>Page Count <br> 352</h1>
            </div>
        </section>
        <footer>
            <div>Có Thể bạn cũng thích</div>
            <main>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </main>
        </footer>
        <link rel="stylesheet" href="/css/index.css">
        <%- include('./partials/footer.ejs') %>
</body>

</html>